test/output/CT_in_MR-affine.nii.gz
test/output/CT_in_MR-rigid.nii.gz
test/output/CT_to_MR-affine.tfm
test/output/CT_to_MR-rigid.tfm
build/
drhutils/
test/vpa005vl_mr_141028_t1fl3dtraisostealth_s1.nii.gz
test/vpa005vl_pt_141028_bqml_fdopa_ac.nii.gz
test/vpa005vl/
.idea/
